/* reset rule */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Color Palette */

:root {
    --background-color-top: #009688;
    --background-color-page: #D9DBD5;
    --background-color-notification: #8EDAFC;
    --color-icon-light: #B1B1B1;
    --color-icon-bold: #6B7376;
    --color-text-main: #000000;
    --color-text-submain: #7F7376;
    --background-color-icon: #F2FBFF;
    --background-color-sidebar: #FFFFFF;
}


/* common style */

.b-none {
    border: none;
}

.container_page {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-page);
    background: linear-gradient(to bottom, var(--background-color-top) 0px, var(--background-color-top) 15vh, var(--background-color-page) 15vh, var(--background-color-page) 100%);
}

#window_app {
    position: absolute;
    width: 80%;
    height: 95%;
    top: 2.5%;
    left: 10%;
}

.image_user_avatar {
    height: 80px;
    width: 80px;
}

.sidebar_window {
    float: left;
    height: 100%;
    width: 35%;
    background-color: var(--background-color-sidebar);
}

#option_user_icon i {
    color: var(--color-icon-light);
}

#notification {
    background-color: var(--background-color-notification);
    height: 80px;
}

#alert_icon {
    background-color: var(--background-color-icon);
}

#alert_icon i {
    color: var(--background-color-notification);
}

#input_search i,
#user_icon i {
    color: var(--color-icon-bold);
}

#input_search input {
    border: none
}

.input-group-text {
    background-color: var(--background-color-icon);
}


/* chat window */

#chat_window {
    width: 60%;
    height: 100%;
    background-color: var(--background-color-page);
}

#data_contact_chat {
    background-color: var(--background-color-sidebar);
    padding: 8px 0;
    height: 96px;
}

#section_chat {
    height: calc(100% - 166px);
    width: 100%;
    background-image: url('/assets/img/backgroundIMG/background_chat.png');
}

#input_chat {
    height: 70px;
    width: 100%;
    background-color: #EDEDED;
}

#emoticon {
    width: 10%;
    height: 100%;
}

#emoticon i {
    transform: scale(1.5);
    color: var(--color-icon-bold);
}

#input_message {
    width: 80%;
    height: 100%;
}


/* sizing icon */

#user_icon i,
#option_user_icon i,
#alert_icon i {
    transform: scale(1.7);
}

#info_user {
    border-right: 1px solid var(--color-icon-light);
}

#boxMessage {
    position: relative;
    max-width: 40%;
    padding: 8px;
    margin: 5px;
}

.messageReceived {
    background-color: #FFFFFF;
    border-radius: 0 15px 15px 15px;
}

.messageSent {
    align-self: end;
    background-color: #DCF8C6;
    border-radius: 15px 0 15px 15px;
}

.messageReceived #dateMessage {
    font-size: 10px;
    text-align: start;
}

.messageSent #dateMessage {
    font-size: 10px;
    text-align: end;
}

.active {
    background-color: #EBEBEB;
}

#istantHour {
    font-size: 15px;
}