/* reset rule */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Color Palette */

:root {
    --background-color-top: #009688;
    --background-color-page: #D9DBD5;
    --background-color-notification: #8EDAFC;
    --color-icon-light: #B1B1B1;
    --color-icon-bold: #6B7376;
    --color-text-main: #000000;
    --color-text-submain: #7F7376;
    --background-color-icon: #F2FBFF;
    --background-color-sidebar: #FFFFFF;
}

.container_page {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color-page);
    background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #D9DBD5 15vh, #D9DBD5 100%);
}

#window_app {
    position: absolute;
    width: 80%;
    height: 95%;
    top: 2.5%;
    left: 10%;
    background-color: violet;
}

.image_user_avatar {
    height: 80px;
    width: 80px;
}

.sidebar {
    height: 100%;
    width: 35%;
    background-color: var(--background-color-sidebar);
}

#option_user_icon i {
    color: var(--color-icon-light);
}

#notification {
    background-color: var(--background-color-notification);
    height: 80px;
}

#alert_icon {
    background-color: var(--background-color-icon);
}

#alert_icon i {
    color: var(--background-color-notification);
}


/* sizing icon */

#option_user_icon i,
#alert_icon i {
    transform: scale(1.7);
}